
on init
# See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

	# Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

	# create real external storage
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/udisk 0000 system system

	# Set the processor type for libEGL.  We set this to omap4430 even though we
	# may be running on an omap4460. Since they both have the same SGX, libEGL
	# does not care.
	setprop ro.product.processor omap4430

	setprop lcd.landscape true


on boot	
	mount debugfs /sys/kernel/debug /sys/kernel/debug
	chmod 0777 /dev/ttyO3
	chown system system /dev/i2c-3
	chown system system /sys/class/backlight/pwm-backlight/brightness


on fs
	mount_all /fstab.libz500
	

# change permissions for ION driver
    chmod 0777 /dev/ion


service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot


# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
	class main

service libzservice /system/bin/LIBZService
	class main

