import init.pcm049.wifi.rc

on init
# See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

	# Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

	# create real external storage
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /mnt/media_rw 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/udisk 0000 system system

	# Set the processor type for libEGL.  We set this to omap4430 even though we
	# may be running on an omap4460. Since they both have the same SGX, libEGL
	# does not care.
	setprop ro.product.processor omap4430

	setprop lcd.landscape true

	#setup the trigger gpio
    write /sys/class/gpio/export "118"
    write /sys/class/gpio/gpio118/direction "in"
    write /sys/class/gpio/gpio118/edge "falling"

# for Bluetooth HID
	chmod 0666 /dev/uhid

# change permissions for Bluetooth/FM/GPS
	chmod 0600 /sys/class/rfkill/rfkill0/state
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
	chmod 0600 /dev/ttyO1
	chown bluetooth bluetooth /dev/ttyO1

on boot	
	mount debugfs /sys/kernel/debug /sys/kernel/debug
	chmod 0777 /dev/ttyO3
	chown system system /dev/i2c-3
	chown system system /sys/class/backlight/pwm-backlight/brightness
	
	# GPS init
	chown gps system /dev/ttyO0
	chmod 0666 /dev/ttyO0

	# GPS ON-OFF
	write /sys/class/gpio/export 172
	write /sys/class/gpio/gpio172/direction out
	write /sys/class/gpio/gpio172/value 0
	chown gps system /sys/class/gpio/gpio172/value
	chmod 0666 /sys/class/gpio/gpio172/value

	# GPS SYSTEM-ON
	write /sys/class/gpio/export 177
	write /sys/class/gpio/gpio177/direction in
	chown gps system /sys/class/gpio/gpio177/value
	chmod 0666 /sys/class/gpio/gpio177/value

	# GPS NRESET
	write /sys/class/gpio/export 174
	write /sys/class/gpio/gpio174/direction out
	write /sys/class/gpio/gpio174/value 1
	chown gps system /sys/class/gpio/gpio174/value
	chmod 0666 /sys/class/gpio/gpio174/value

	mkdir /data/gps
	chown gps system /data/gps
	chmod 0770 /data/gps

	# change permissions for Sensors
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053/disable
	chown system system /sys/bus/i2c/drivers/adxl34x/4-0053/rate


on fs
	mount_all /fstab.libz500
	
	# change permissions for ION driver
    chmod 0777 /dev/ion

on post-fs-data
	setprop vold.post_fs_data_done 1

	# fix the superuser mode
	chown root root /system/xbin/su
	chmod 6755 /system/xbin/su


service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot


# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
	class main

service libzservice /system/bin/LIBZService
	class main

#shared transport user space mgr service for Bluetooth, FM and GPS
	service uim /system/bin/uim-sysfs
	class core
	user bluetooth
	group bluetooth net_bt_admin

